/***********************************************
 *        ZIRCON VISUALIZER WINDOW             *
 ***********************************************/

.zircon-ui .jsPanel.zircon-viz .jsPanel {
  border: 1px solid #2a3967;
  box-shadow: 0 0 8px 4px rgb(49, 91, 56);
}

.zircon-ui .jsPanel.zircon-viz .jsPanel-headerbar {
  background: #32488b;
}

.zircon-ui .jsPanel.zircon-viz .jsPanel-content {
  box-shadow: inset 0 8px 32px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(135deg, #13131c 0%, #0d121d 100%);
  backdrop-filter: blur(10px);
  overflow: auto;
  font-family: 'Orbitron', sans-serif;
  color: inherit;
}

.zircon-ui .jsPanel.zircon-viz .jsPanel {
  border: 1px solid #2a3967;
}

.zircon-ui .jsPanel.zircon-viz .jsPanel,
.zircon-ui .jsPanel.zircon-viz .jsPanel-hdr {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.zircon-ui .jsPanel.zircon-viz .jsPanel-hdr::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffffee, transparent);
  opacity: 0.7;
}

.zircon-ui .jsPanel.zircon-viz .jsPanel-controlbar button {
  scale: 0.7;
  width: 20px;
}

.zircon-ui .jsPanel.zircon-viz .jsPanel-headerlogo img {
  scale: 0.9;
  width: 25px;
}

.zircon-ui .jsPanel.zircon-viz ion-segment-button {
  position: relative;
  padding: 1px 3px;
  background: linear-gradient(90deg, transparent, #1a1a1a, transparent);
  color: rgba(255, 255, 255, 0.85);
  font-size: 10px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  min-height: 20px;
}

.zircon-ui .jsPanel.zircon-viz ion-segment-button:hover {
  background: linear-gradient(90deg, transparent, #333, transparent);
  color: white;
  transform: scale(1.2);
}

.zircon-ui .jsPanel.zircon-viz ion-segment-button.segment-button-checked {
  background: linear-gradient(90deg, transparent, #233d93, transparent);
}
