.user-connect-ui {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  align-items: center;
  max-width: 400px;
}

.user-connect-ui .infobox {
  padding: 10px;
  border-radius: 6px;
  background: #f1f1f1;
  font-size: 14px;
}

.user-connect-ui .infobox,
.user-connect-ui button {
  padding: 10px;
  cursor: pointer;
  grid-column: 1 / -1;
}

.user-connect-ui input {
  padding: 10px;
  float: right;
}

.user-connect-ui label {
  padding: 10px;
  float: left;
}
