.tle-propagator-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0px;
}

.tle-propagator-code {
  width: 100%;
}

.tle-propagator-code ion-textarea::part(native),
.tle-propagator-result ion-textarea::part(native) {
  caret-color: white;
}

.tle-propagator-result {
  width: 100%;
}

.tle-propagator-result.ok,
.tle-propagator-result.ok > legend {
  color: lightgreen;
  border-color: lightgreen;
}

.tle-propagator-result.nok {
  background-color: darkred;
}
